.navbar-custom {
  background-color: #dff5ff;
}

.nav-link {
  font-size: 1.3rem;
}

.dropdown-menu {
  background-color: #dc3545;
}

.dropdown-item {
  color: white;
}
 
.dropdown-item:active,
.dropdown-item:focus {
  background-color: #dc3545;
  color: white;
  outline: none; 
}