.tagline {
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
  opacity: 0.7;
  color: #dc3545;
}

.movie-subdetails2 {
  margin-top: 2rem;
}
.movie-subdetails {
  margin: 25px 0 20px;
  font-size: 1.5rem;
}

.movie-metadata {
  display: block;
  color: #dc3545;
  font-size: 20px;
}

.background-image {
  background-image: url("https://images.unsplash.com/photo-1524334228333-0f6db392f8a1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
}

